<p style="color: green"><%= notice %></p>

<h1>Fillings</h1>

<% if @fillings.length > 0 %>
  <table id="fillings">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Calories</th>
      <th>Available</th>
    </tr>

    <% @fillings.each do |filling| %>
      <tr>
        <td><%= link_to(filling.name, edit_filling_path(filling)) %></td>
        <td><%= truncate(filling.description, length: 50) %></td>
        <td><%= number_to_currency(filling.price) %></td>
        <td><%= filling.calories %></td>
        <td><%= filling.available ? "yes" : "no" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "New filling", new_filling_path %>
