<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<% if @orders.length > 0 %>
  <table id="orders">
    <tr>
      <th>Created</th>
      <th>Customer</th>
      <th>Tortilla</th>
      <th>Rice</th>
      <th>Beans</th>
      <th>Meat</th>
      <th>Delivery</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to(order.created_at, edit_order_path(order)) %></td>
        <td>
          <%= truncate("#{order.name_first} #{order.name_last}", length: 80) %>
        </td>
        <td><%= order.tortilla %></td>
        <td><%= order.rice %></td>
        <td><%= order.beans %></td>
        <td><%= order.meat&.name %></td>
        <td><%= order.delivery ? "yes" : "no" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "New order", new_order_path %>
